{% extends 'base.html.twig' %}

{% block body %}
	{# {% include 'base.html.twig' %} #}
	<section class="login">
		<h1>Connexion!</h1>

		<form action="{{ path('security_login') }}" method="post">
			<div class="form-group">
				<input type="text" name="_username" class="form-control" placeholder="Votre adresse email*" required>
			</div>
			<div class="form-group">
				<input type="password" name="_password" class="form-control" placeholder="Votre mot de passe*" required>
			</div>
			<div class="form-group">
				<button type="submit" class="btn">Me connecter</button>
			</div>
		</form>

		<div class="account">
			<p>Vous n'avez pas encore de compte?</p>
			<a href="{{ path('security_registration') }}">S'inscrire</a>
		</div>
		<div class="rgpd">
			<p>En continuant, vous acceptez nos
				<strong>Conditions générales</strong>
				et notre
				<strong>Politique de confidentialité</strong>. Ces informations sont collectées par BeSafe dans le but de créer votre compte, de gérer vos réservations, d'utiliser et d'améliorer nos services, et afin d'assurer la sécurité de notre plateforme. Vous avez des droits sur vos données personnelles et vous pouvez les exercer en contactant BeSafe par le biais de notre Formulaire de contact. Pour plus d'informations sur vos droits et la manière dont nous traitons vos données personnelles, veuillez consulter notre Politique de confidentialité.</p>
		</div>
	</section>
{% endblock %}
