{# {% extends 'base.html.twig' %} #}
{% block stylesheets %}
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,500i,600,600i&display=swap" rel="stylesheet"/>
	{{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
	<section class="home">
		<header>
			<img src="{{ asset('build/logo.png') }}" alt="beSafe logo">
			<h1>BeSafe</h1>
		</header>
		<div class="connexion">
			<a class="login" href="{{ path('security_login') }}">Me connecter</a>
			<a class="signIn" href="{{ path('security_registration') }}">S'inscrire</a>
		</div>
	</section>
{% endblock %}
